*.log
__pycache__/

# Docker container
/docker/ros/.ros/*
/docker/ros/.gazebo/*
/data/*
# ROS Workspace
/dev_ws/build/*
/dev_ws/install/*
/dev_ws/log/*
/dev_ws/src/*

# Editor, IDE
/.idea/
.vscode
*.code-workspace

!.gitkeep
